* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
a {
	text-decoration: none;
	color:#DC1F0C; }
 
	a.nav-link {
		
		color:black; }
 
		a.nav-link:hover { background-color:#E5E7E9; }
 
	
	a.navbar-brand {
		margin-top:5px;
		font-size: 140%;
		text-shadow: none;
		font-weight: 500;
		 }
 
		a.navbar-brand:hover {
			-webkit-stroke-width: 5.3px;
			-webkit-stroke-color: #FFFFFF;
			-webkit-fill-color: #FFFFFF;
			text-shadow: 1px 0px 20px #800080; }
 
	a:hover {
		color:white;
		text-decoration:none;
		cursor:pointer; }
 
.navbar{
   
   
    box-shadow: none;
    font-weight: bolder;
    color: aliceblue;
    padding-bottom: 15px;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  /*background-image: url(back2.png);*/
  background-size: fit;

  
  background-position: center;
  background-repeat: no-repeat;
  
}
a.hover{
    background-color: white;
}

.blurb{
    padding: 25px;
    border-style: solid;
    border-color: indigo;
    
    
}
body {
 
  -webkit-background-size: 50%;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-brand{
    vertical-align: middle;
}
#header{
    height: 100px;
    width:auto;
    vertical-align: middle;
    
    text-align: center;
    font-family: inherit;
    color: black;
}
h1{
    padding-right: 240px;
    align-content: center;
    vertical-align: middle;
    color: indigo;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  text-shadow: 50%;
}
#box{
    
    width: 300px;
    height:500px;
    border-color:#4e4376;
    position: relative;
    
    
}
/*
#box p{
   margin-left: auto;
   margin-right: auto;
   position: absolute;               
   width:90%;
   top: 50%;                         
   transform: translate(0, -50%) }   
}
*/
#About{
    background-image: none;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#hoverName{
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: bold;
}
